@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100&display=swap');
bg-color{
    color: #eee;
    padding:60px 0 ;
    font-family: "Roboto","sans-serif";
}
.containers{
    width: 90%;
    margin: 0 auto;
}
.title{
    margin-bottom: 50%;
    padding-bottom: 40px;
    text-align: center;
    position: relative;
}
.title::before{
content: '';
width: 200px;
height: 3px;
background: #dbdbdb;
opacity: .6;
position: absolute;
bottom: 15%;
left: 50%;
transform: translateX(-50%);
}
.title::after{
    content: '\f00S';
    font-family: FontAwesome;
    color: #dbdbdb;
    width: 50px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    background-color: #eee;
    transform: translateX(-50%);
    font-size: 16px;

}
.title p{
    color: #999;
    font-style: italic;
    font-weight: 700;
    margin: 0;
}
.title h1{
    font-size: 44px;
    color: #131313;
    font-weight: 900;
    text-transform: uppercase;
}
.title h1 span{
    color: #fa0;



}
